body {
  font-family: "DejaVu Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-image: linear-gradient(#005a86, #5cc0f1);
  color : #043b57;
}

/* Lien pratique pour flex : https://codepen.io/enxaneta/full/adLPwv */

h1 {
  color: white;
}

canvas {
  margin-top: 20px;
}

input {
  background-color: rgba(255, 255, 255, 0.48);
  border-radius: 5px;
  font-size: 20px;
  width: 100%;
  height: 40px;
  padding: 0;
  border: 0;
}

.cityResults {
  background-color: #96C8DF;
  border-radius: 5px;
  margin-top: 10px;
  position: fixed;
}

.cityResults p {
  width: 90%;
  padding: 10px 0;
  margin: auto;
}

.savedCitiesWrapper {
  display: flex;
  flex-direction: column;
}

.savedCity {
  align-self: stretch;
  border-radius: 5px;
  margin-top: 10px;
  height: 90px;
  background-color: rgba(255, 255, 255, 0.48);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.savedCity a {
  color: black;
  text-decoration: none;
}

.homeButton {
  color: white;
  text-decoration: none;
  font-size: 40px;
}

.homeButton:hover {
  text-decoration: underline;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.menuCity {
  background-color: rgba(255, 255, 255, 0.48);
  border-radius: 5px;
  padding: 2px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.selectedCity {
  background-color: rgba(255, 255, 255, 0.68);
}

.iconSavedCities {
  width: 20%; /* you can use % */
  height: auto;
  align-items: center;
  padding: 30px;

}

.fullDataCity {
  background-color: rgba(255, 255, 255, 0.48);
  border-radius: 5px;
  padding : 30px;
}

.header {
  display: flex;
  flex-direction: row;
}

.icon {
  width: 20%; /* you can use % */
  height: auto;
}

.info {
  display: flex;
  flex-direction: column;
}

.city {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.details {
  display: flex;
  justify-content: space-around;
}

.smallicon {
  width: 3%; /* you can use % */
  height: auto;
  margin-right: 20px;
  margin-top: 20px;
}

.humidity, .windSpeed, .dusk, .dawn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
