body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-size: calc(10px + 2vmin);
}

/* A PARTIR DE LA, C'EST NOTRE CSS*/

/* Lien pratique pour flex : https://codepen.io/enxaneta/full/adLPwv */

.savedCitiesWrapper {
  display: flex;
  flex-direction: column;
}

.savedCity {
  align-self: center;
  border: 2px solid black;
  border-radius: 5px;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.menuCity {
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px;
}

.fullDataCity {
  border: 1px solid black;
}
